body {
    background: #636262;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

#title .subtitle .post_title {
    color: rgb(27, 27, 27);
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: underline;
    color: #000;
}

.photo {
    border: 1px solid #000;
    border-radius: 50px;

}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #a7a5a5;
    padding: 15px;
    border: solid #000;
    margin-bottom: 15px;
    border-radius: 7px;

}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-align: justify;
}

.post_img {
    margin-bottom: 15px;
    width: 100%;
}

.list {
    list-style-type: none;
    padding-left: 15px;
}

.list li a {
    text-decoration: none;
}